/* .navBarBg {
  background-image: linear-gradient(
    45deg,
    hsl(6deg 60% 45%) 0%,
    hsl(338deg 60% 48%) 14%,
    hsl(308deg 41% 48%) 29%,
    hsl(246deg 45% 58%) 43%,
    hsl(260deg 52% 62%) 57%,
    hsl(330deg 87% 65%) 71%,
    hsl(9deg 100% 68%) 86%,
    hsl(44deg 100% 48%) 100%
  );
} */
.navBarBg {
  background-color: #192039;
  border: 1px solid #ffffff6f;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(50, 50, 50, 0.12) 0px -12px 30px, rgba(182, 182, 182, 0.12) 0px 4px 6px,
    rgba(178, 178, 178, 0.17) 0px 12px 13px, rgb(206, 206, 206)55) 0px -3px 5px; */
  border-radius: 5px;
}
.navBarBg {
  box-shadow: 0px 1px 1px 0px rgba(249, 249, 249, 0.115);
}
.allcontentleft {
  text-align: left;
}
.PaddingALL {
  padding: 10px;
}
.pricetitle {
  font-weight: 600;
  color: white;
}
.pricesubtitle {
  font-size: 14px;
  color: white;
}
.iconstyle {
  margin: 20px 0px 0px 20px;
  color: white;
}
.iconStyle {
  color: white;
}
.gradient {
  background-image: linear-gradient(
    45deg,
    hsl(6deg 60% 45%) 0%,
    hsl(348deg 60% 48%) 17%,
    hsl(334deg 58% 48%) 33%,
    hsl(318deg 47% 48%) 50%,
    hsl(289deg 36% 50%) 67%,
    hsl(252deg 44% 57%) 83%,
    hsl(217deg 61% 52%) 100%
  );
}
.gradientLight {
  background-image: linear-gradient(
    45deg,
    hsl(44deg 100% 41%) 0%,
    hsl(39deg 94% 42%) 17%,
    hsl(33deg 85% 44%) 33%,
    hsl(27deg 78% 45%) 50%,
    hsl(20deg 71% 46%) 67%,
    hsl(13deg 66% 46%) 83%,
    hsl(6deg 60% 45%) 100%
  );
}

.bgColor {
  background: rgb(250, 250, 250);
  background: radial-gradient(
    circle,
    rgba(250, 250, 250, 1) 0%,
    rgba(183, 237, 238, 1) 100%
  );
}
